services:
  ds-gw:
    build: .
    container_name: python-unified-gateway
    env_file:
      - .env
    ports:
      - "8001:8001"
    volumes:
      - ./secrets/ds_private_key:/run/secrets/ds_private_key:ro
